{{extend 'layout.html'}}
<html>
    <head>
        <title> Map </title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="/crowdsourcing/static/js/jquery.js"></script>
    </head>
    <div class="flash">{{=response.flash or ''}}</div>
    <body>
        <h2>Locations</h2>
        {{=form}}
        <script>

            window.onload = function() {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        temp_dict = {"H": [],
                                     "P": [],
                                     "EQ": [],
                                     "CYC": [],
                                     "TSU": [],
                                     "FL": [],
                                     "FI": [],
                                     "NGOM": [],
                                     "NGOS": [],
                                     "NGOR": [],
                                     "MISC": [],
                                     "BB": []
                                     };
                        data = "{{=org_list}}";
                        data = JSON.parse(data.replace(/&#x27;/g,'"'));
                        var keys = Object.keys(temp_dict);
                        var i = 0;
                        for(org in data) {
                            temp_dict[data[org]["org_type"]].push([data[org]["latitude"], data[org]["longitude"]]);
                        }
                        locationJSON = JSON.parse(xmlhttp.responseText);
                        var myLatLng = new google.maps.LatLng(locationJSON["latitude"], locationJSON["longitude"]);

                        var mapOptions = {
                            center: myLatLng,
                            zoom: 15,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            minZoom: 3,
                            maxZoom: 20 
                        };
                        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                        for(item in temp_dict){
                            for(subitem in temp_dict[item])
                            {
                                lati = temp_dict[item][subitem][0];
                                lang = temp_dict[item][subitem][1];
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(lati, lang),
                                    map: map, 
                                    icon: '/crowdsourcing/static/images/' + item + '.png'
                                });
                            }
                            i=i+1;
                        }
                    }
                }
                xmlhttp.open("GET", "/crowdsourcing/report/get_coordinates/", true);
                xmlhttp.send();
            }
</script>

</body>
</html>
