{{extend 'layout.html'}}
<h1>DisRes</h1>
<div class="row" style="width:900px">
        <div class="col-md-8" id="main-content">
          <p style="font-size:20px;">A disaster management and rescue tool.</p>
<!--          <div class="list-group">
            <a href="../report/index.html" class="list-group-item">Report Disasters</a>
            <a href="../help/index.html" class="list-group-item">Get Help!</a>
            <a href="email.html" class="list-group-item">Email Us</a>
            <a href="../contact/index.html" class="list-group-item">Contact Us</a>
          </div>-->
        </div>
        <div class="col-md-4" id="side-content">
          <center><b>Tweets</b><img src="../static/images/twitter_bird.png"/></center>
          <!--<ul class="list-group">
          	<li class="list-group-item"></li>
          	<li class="list-group-item"></li>
          	<li class="list-group-item"></li>
          	<li class="list-group-item"></li>
          </ul>-->
          </div>
        </div>
</div>