
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Latitude and Longitude</title>
</head>
<h3>Last Viewed</h3>
 <p id="Latitude">Empty...</p>
<p id="Longitude">Empty...</p>
<body>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(17.392579271057766, 78.50830078125),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
                //alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                //confirm("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng()) ;
                document.getElementById("Latitude").innerHTML = "Latitude:- "+e.latLng.lat();
                document.getElementById("Longitude").innerHTML = "Longitude:- "+e.latLng.lng();
            });
        }
    </script>

    <div id="dvMap" style="width: 500px; margin:0 auto; height: 500px" >

    </div>

</body>
</html>
